{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/base.css'%}">
            <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Delius&family=EB+Garamond:wght@500&family=Lato&family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {% bootstrap_javascript %}
        {% endblock %}
    </body>

</html>