h1{
    font-family: 'Delius', cursive;
    font-size: 150px;
    margin-bottom: 30px;
}
h2{
    font-family: 'Noto Serif JP', serif;
    font-size: 60px;
    margin-bottom: 50px;
}
#image{
    text-align: center;
}
.card{
    text-align: center;
    margin-top: 20px;
}
p{
    font-family: 'DM Mono', monospace;
    font-size: 30px;
    margin-top: 20px;
}
h5{
    font-size: 30px;
}
label{
    font-family: 'DM Mono', monospace;
    font-size: 25px; 
}
.image_link{
    margin-top: 20px;
    margin-bottom: 20px;
}